.container{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    gap: 20px;
}
.articleWrapper{
    position: relative;
} 
.actions{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;

}
.delete{
    &:hover{
        color: red;
    }
}
.edit {
    font-size: 10px;
    &:hover {
        color: blue;
    }
}